body {
	background-color:pink;
	font-family: Georgia;
	background-image: url(glitterbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding:0;
}

#wrap {width: 80%;
	border: 10px solid gray;
	margin: 0 auto;
}

header img {width: 30%} 

header { 
	background-image: url(pinkdog.jpg);
	background-size: cover;
	text-align: center;
	}

nav {
	background-color: #88d2e3;
	padding: 20px;
	text-align: center;
	}

nav li {
	display:inline;
}

nav ul {margin:0;
		padding:0;
}

nav a {
	color:white;
	padding: 20px;
	margin-right: 10px;
	font-family: verdana;
	font-size: 20px;
	text-decoration: none;
}

h1 {
	color: black;
	font-size: 30px;
}
section {
	background-color: pink;
	font-size: 20;
	padding: 30px;
	overflow: auto;
}


section img {width: 40%;
			float: right;
}

div.box {
	width:200px;
	height: 200px;
	background-color: pink;
	border: 10px solid black;
	padding: 10px;
	margin: 10px;
}

footer {
	background-color: #88d2e3;
	padding: 10px;
	text-align: center;
	color: white;
}
	
.officer {
	width: 30%;
	float: right;
	
}